:root {
    --shrimp: #f79494;
    --shrimp-transparent: rgba(247, 148, 148, 0.6);
    --shrimp-light: #fcb8b8;
    --black-text: #4C4C4C;
    --grey-text: #717171;
}

[data-md-color-scheme="ddoo-light"] {
    --md-primary-fg-color: #f68888;

    --md-accent-fg-color:                var(--shrimp);
    --md-accent-fg-color--transparent:   var(--shrimp-transparent);
    --md-accent-bg-color:                var(--shrimp);
    --md-accent-bg-color--light:         var(--shrimp-light);

    --md-footer-fg-color: var(--shrimp);
    --md-footer-fg-color--light: #fdb9b9;
    --md-footer-fg-color--lighter: #fdb9b9;
    --md-footer-bg-color: #fcf3f3;
    --md-footer-bg-color--dark: #ffefef;

    --md-hljs-color: #24292e;
    --md-hljs-background: #fff;
    --md-hljs-doctag-color: #d73a49;
    --md-hljs-title-color: #6f42c1;
    --md-hljs-attr-color: #005cc5;
    --md-hljs-meta-color: #032f62;
    --md-hljs-built_in-color: #e36209;
    --md-hljs-code-color: #6a737d;
    --md-hljs-name-color: #22863a;
    --md-hljs-subst-color: #24292e;
    --md-hljs-section-color: #005cc5;
    --md-hljs-bullet-color: #735c0f;
    --md-hljs-emphasis-color: #24292e;
    --md-hljs-strong-color: #24292e;
    --md-hljs-addition-color: #22863a;
    --md-hljs-addition-background: #f0fff4;
    --md-hljs-deletion-color: #b31d28;
    --md-hljs-deletion-background: #ffeef0;
}

[data-md-color-scheme="ddoo-oceanic"] {
    --md-default-fg-color:               hsla(0, 0%, 90%, 0.87);
    --md-default-fg-color--light:        hsla(0, 0%, 90%, 0.54);
    --md-default-fg-color--lighter:      hsla(0, 0%, 90%, 0.32);
    --md-default-fg-color--lightest:     hsla(0, 0%, 90%, 0.07);
    --md-default-bg-color:               #1E272C;
    --md-default-bg-color--light:        hsla(0, 0%, 20%, 0.7);
    --md-default-bg-color--lighter:      hsla(0, 0%, 20%, 0.3);
    --md-default-bg-color--lightest:     hsla(0, 0%, 20%, 0.12);

    --md-primary-fg-color:               #263238;
    --md-primary-fg-color--light:        hsla(0, 0%, 20%, 0.7);
    --md-primary-fg-color--dark:         hsla(0, 0%, 20%, 0.7);
    --md-primary-bg-color:               hsla(0, 0%, 100%, 1);
    --md-primary-bg-color--light:        hsla(0, 0%, 100%, 0.7);

    --md-accent-fg-color:                var(--shrimp);
    --md-accent-fg-color--transparent:   var(--shrimp-transparent);
    --md-accent-bg-color:                hsla(0, 0%, 100%, 1);
    --md-accent-bg-color--light:         hsla(0, 0%, 100%, 0.7);

    --md-code-fg-color:                var(--md-default-fg-color);
    --md-code-bg-color:                var(--md-primary-fg-color);

    --md-typeset-color:                var(--md-default-fg-color);

    --md-typeset-a-color:              var(--shrimp);

    --md-typeset-mark-color:           var(--md-default-fg-color--light);

    --md-typeset-del-color:            hsla(6, 90%, 60%, 0.15);
    --md-typeset-ins-color:            hsla(150, 90%, 44%, 0.15);

    --md-typeset-kbd-color:            hsla(0, 0%, 98%, 1);
    --md-typeset-kbd-accent-color:     hsla(0, 100%, 100%, 1);
    --md-typeset-kbd-border-color:     hsla(0, 0%, 72%, 1);

    --md-admonition-fg-color:          var(--md-default-fg-color);
    --md-admonition-bg-color:          var(--md-default-bg-color);

    --md-footer-fg-color:              hsla(0, 0%, 80%, 1);
    --md-footer-fg-color--light:       hsla(0, 0%, 80%, 0.7);
    --md-footer-fg-color--lighter:     hsla(0, 0%, 80%, 0.3);
    --md-footer-bg-color:              #263238;
    --md-footer-bg-color--dark:        hsla(0, 0%, 0%, 0.06);

    --md-hljs-color: #c9d1d9;
    --md-hljs-background: #0d1117;
    --md-hljs-doctag-color: #ff7b72;
    --md-hljs-title-color: #d2a8ff;
    --md-hljs-attr-color: #79c0ff;
    --md-hljs-meta-color: #a5d6ff;
    --md-hljs-built_in-color: #ffa657;
    --md-hljs-code-color: #8b949e;
    --md-hljs-name-color: #7ee787;
    --md-hljs-subst-color: #c9d1d9;
    --md-hljs-section-color: #1f6feb;
    --md-hljs-bullet-color: #f2cc60;
    --md-hljs-emphasis-color: #c9d1d9;
    --md-hljs-strong-color: #c9d1d9;
    --md-hljs-addition-color: #aff5b4;
    --md-hljs-addition-background: #033a16;
    --md-hljs-deletion-color: #ffdcd7;
    --md-hljs-deletion-background: #67060c;
}

[data-md-color-scheme="ddoo-dark"] {
    --md-default-fg-color:               hsla(0, 0%, 90%, 0.87);
    --md-default-fg-color--light:        hsla(0, 0%, 90%, 0.87);
    --md-default-fg-color--lighter:      hsla(0, 0%, 98%, 0.32);
    --md-default-fg-color--lightest:     hsla(0, 0%, 100%, 0.07);
    --md-default-bg-color:               #0D1117;
    --md-default-bg-color--light:        hsla(0, 0%, 20%, 0.7);
    --md-default-bg-color--lighter:      hsla(0, 0%, 20%, 0.3);
    --md-default-bg-color--lightest:     hsla(0, 0%, 20%, 0.12);

    --md-primary-fg-color:               #161B22;
    --md-primary-fg-color--light:        hsla(0, 0%, 20%, 0.7);
    --md-primary-fg-color--dark:         hsla(0, 0%, 20%, 0.7);
    --md-primary-bg-color:               hsla(0, 0%, 100%, 1);
    --md-primary-bg-color--light:        hsla(0, 0%, 100%, 0.7);

    --md-accent-fg-color:                var(--shrimp);
    --md-accent-fg-color--transparent:   var(--shrimp-transparent);
    --md-accent-bg-color:                hsla(0, 0%, 100%, 1);
    --md-accent-bg-color--light:         hsla(0, 0%, 100%, 0.7);

    --md-code-fg-color:                var(--md-default-fg-color);
    --md-code-bg-color:                var(--md-primary-fg-color);

    --md-typeset-color:                var(--md-default-fg-color);

    --md-typeset-a-color:              var(--shrimp);

    --md-typeset-mark-color:           var(--md-default-fg-color--light);

    --md-typeset-del-color:            hsla(6, 90%, 60%, 0.15);
    --md-typeset-ins-color:            hsla(150, 90%, 44%, 0.15);

    --md-typeset-kbd-color:            hsla(0, 0%, 98%, 1);
    --md-typeset-kbd-accent-color:     hsla(0, 100%, 100%, 1);
    --md-typeset-kbd-border-color:     hsla(0, 0%, 72%, 1);

    --md-admonition-fg-color:          var(--md-default-fg-color);
    --md-admonition-bg-color:          var(--md-default-bg-color);

    --md-footer-fg-color:              hsla(0, 0%, 80%, 1);
    --md-footer-fg-color--light:       hsla(0, 0%, 80%, 0.7);
    --md-footer-fg-color--lighter:     hsla(0, 0%, 80%, 0.3);
    --md-footer-bg-color:              #161B22;
    --md-footer-bg-color--dark:        hsla(0, 0%, 0%, 0.06);

    --md-hljs-color: #c9d1d9;
    --md-hljs-background: #0d1117;
    --md-hljs-doctag-color: #ff7b72;
    --md-hljs-title-color: #d2a8ff;
    --md-hljs-attr-color: #79c0ff;
    --md-hljs-meta-color: #a5d6ff;
    --md-hljs-built_in-color: #ffa657;
    --md-hljs-code-color: #8b949e;
    --md-hljs-name-color: #7ee787;
    --md-hljs-subst-color: #c9d1d9;
    --md-hljs-section-color: #1f6feb;
    --md-hljs-bullet-color: #f2cc60;
    --md-hljs-emphasis-color: #c9d1d9;
    --md-hljs-strong-color: #c9d1d9;
    --md-hljs-addition-color: #aff5b4;
    --md-hljs-addition-background: #033a16;
    --md-hljs-deletion-color: #ffdcd7;
    --md-hljs-deletion-background: #67060c;
}

pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
}
code.hljs {
    padding: 3px 5px;
}

.hljs {
    color: var(--md-hljs-color);
    background: var(--md-hljs-background);
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
    color: var(--md-hljs-doctag-color);
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
    color: var(--md-hljs-title-color)
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
    color: var(--md-hljs-attr-color);
}

.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
    color: var(--md-hljs-meta-color);
}

.hljs-built_in,
.hljs-symbol {
    color: var(--md-hljs-built_in-color);
}

.hljs-code,
.hljs-comment,
.hljs-formula {
    color: var(--md-hljs-code-color);
}

.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
    color: var(--md-hljs-name-color);
}

.hljs-subst {
    color: var(--md-hljs-subst-color);
}

.hljs-section {
    color: var(--md-hljs-section-color);
    font-weight: 700;
}

.hljs-bullet {
    color: var(--md-hljs-bullet-color);
}

.hljs-emphasis {
    color: var(--md-hljs-emphasis-color);
    font-style: italic;
}

.hljs-strong {
    color: var(--md-hljs-strong-color);
    font-weight: 700;
}

.hljs-addition {
    color: var(--md-hljs-addition-color);
    background-color: var(--md-hljs-addition-background);
}

.hljs-deletion {
    color: var(--md-hljs-deletion-color);
    background-color: var(--md-hljs-deletion-background);
}
